body{
margin:0;
font-family:Arial;
background:linear-gradient(180deg,#0a0a0a,#1a0030);
color:white;
}

/* HEADER */

header{
background:black;
padding:20px;
text-align:center;
border-bottom:3px solid #7a00ff;
}

.logo img{
height:80px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

/* HERO */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#1b0030,#4a0085);
}

.cta{
background:linear-gradient(45deg,#7a00ff,#ff4df2);
padding:15px 30px;
border:none;
color:white;
border-radius:10px;
cursor:pointer;
}

/* PRODUITS */

.products{
padding:60px;
max-width:1100px;
margin:auto;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.card{
background:#1a1a1a;
padding:30px;
border-radius:10px;
text-align:center;
}

/* GALERIE */

.gallery{
padding:60px;
max-width:1100px;
margin:auto;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:10px;
}

/* PAGE COMMANDE */

.commande{
padding:60px;
max-width:1200px;
margin:auto;
}

.commande-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
}

.form-left{
display:flex;
flex-direction:column;
gap:15px;
}

input,select,textarea{
padding:12px;
background:#1a1a1a;
border:none;
color:white;
border-radius:6px;
}

/* COULEURS */

.color-picker{
display:grid;
grid-template-columns:repeat(3,75px);
gap:15px;
}

.color{
width:75px;
height:75px;
border-radius:8px;
border:3px solid white;
cursor:pointer;
}

/* couleurs */

.noir{background:#000;}
.blanc{background:#fff;}
.rouge{background:#ff0000;}
.orange{background:#ff8000;}
.jaune{background:#ffd000;}
.vertclair{background:#39ff14;}
.vertfonce{background:#006400;}
.bleuclair{background:#4db8ff;}
.bleufonce{background:#001f7a;}
.violet{background:#7a00ff;}
.rose{background:#ff4df2;}
.marron{background:#6b3e26;}

.color.selected{
border:4px solid #7a00ff;
}

/* PREVIEW */

#preview{
width:200px;
height:200px;
background:#444;
border-radius:15px;
margin-top:30px;
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:black;
margin-top:40px;
}
